body {
  background-image: url(../img/PAU.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.logout {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #f72727;
  outline: none;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 960px) {
  body {
    overflow-y: scroll;
    background-size: 100%;
    background-repeat: repeat;
  }
}
