.warning {
  display: flex;
  justify-content: center;
  position: relative;
  /* height: 300px; */
  margin-top: 4rem;
  top: -54px;
  width: 150px;
}

.warning img {
  height: 80px;
}

.warning h1 {
  position: absolute;
  bottom: -25px;
  z-index: 100;
  font-size: x-large;
  color: #820202;
}

.warning strong {
  position: absolute;
  top: 100px;
  font-size: large;
}
strong {
  text-align: center;
  width: 100%;
  display: block;
}

.set-point,
[class^="circle"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

[class^="circle"] {
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;

  background: orange;
  width: 120px;
  height: 70px;
  border-radius: 50%;
}
.circle2 {
  background: #dddddd;
}

.circle3 {
  background: #5646ec;
  color: white;
}

.circle:hover {
  background: rgb(252, 204, 117);
}

#mode {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  height: 85px;
}

.stop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop p {
  color: black;
  font-weight: 800;
  font-size: large;
}

.stop img {
  width: 80px;
}
